
<div class="wrapper">
  <h2>LOGIN</h2>
  <form action="/api/sessions/login" method="POST">
  <div class="input-box">
    <input type="email" name="email" placeholder="ecommerce@gmail.com" required />
  </div>
  <div class="input-box">
    
    <input type="password" name="password" placeholder="Password" required />
  </div>
      <div class="input-box button">
      <input type="Submit" value="Login" />
    </div>
    <div class="text">
      <h3>You don't have an account? <a href="/api/view/register">Register now</a></h3>
    <div class="text">
      <h3><a href="/api/view/recovery-password">Recovery password</a></h3>
    </div>
    </form>
    <link rel="stylesheet" href="/css/login.css">
</div>