<body>
    <center>
        <h1>{{result.title}}</h1>
    <p>{{result.description}}</p>
    <p>{{result.price}}</p>
    <p>{{result.category}}</p>
    <button><a href="/api/products" style="color: inherit; text-decoration: none;">Return to all product</a></button>
    </center>
</body>