<div class="wrapper">
  <h2>Recovery password</h2>
  <form action="/api/sessions/recovery-password" method="POST">
    <div class="input-box"><input
        type="email"
        name="email"
        placeholder="ecommerce@gmail.com"
        required
      /></div>

    <div class="input-box"><input
        type="password"
        name="password"
        placeholder="New password"
        required
      /></div>
    <div class="input-box button">
      <input type="Submit" value="Submit" />
    </div>
  </form>
  <link rel="stylesheet" href="/css/recovery-password.css" />
</div>